.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input-group,
.contents {
  display: flex;
}

.userGroup,
.transactionGroup {
  padding: 15px;
}

.userGroup {
  width: 40%;
}

.transactionGroup {
  width: 60%;
}

label {
  align-items: center;
  display: flex;
}

table,
td,
th {
  /* border: 1px solid #022c38; */
  padding: 10px;
}

table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
}

.transactionGroup>.input-group {
  margin-left: -15px;
}

th {
  background: #1C76E2;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.error-logger {
  padding: 0 16px 0 16px;
}

.error-logger button {
  margin-left: 0px;
}

.error-logger p {
  background-color: #1C76E2;
  color: white;
  padding: 8px;
}

.error-logger .errors {
  width: 100%;
  display: flex;
}

.error-logger .errors .user-errors {
  width: 50%;
}

.error-logger .errors .transaction-errors {
  width: 50%;
}